/* 60px to make the container go all the way to the bottom of the topbar */
body {
    padding-top: 60px;
}

#content {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
}

/* responsive */
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}